@charset "UTF-8";
:root {
  -gray: #6c757d;
  -blue: #007bff;
  -textbold: #333333;
  -text: #667580;
  -textblue: #1da1f2;
  -line: #cccccc;
  -textred: #ff0000;
  -headertable: #f3f7f9;
  -textmiddle: #003f65;
  -textmiddle022: #0c6fbe;
  -inputdadien: #e8f0fe;
}
.header {
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}

.header .container-header {
  width: 90%;
  height: 100%;
  background-color: white;
}
.header .logo-header {
  height: 45px;
  margin-right: 20px;
  cursor: pointer;
}
.header .search-bar form {
  float: left;
  width: 300px;
  position: relative;
}

.header .search-bar form input {
  width: 100%;
  background-color: #fff;
  height: 38px;
  color: #b2b2b2;
  font-size: 12px;
  border: 1px solid #e6ecf0;
  padding: 0 15px;
  border-radius: 20px !important;
}
.header .search-bar form input:focus {
  outline: none;
}
.header .search-bar form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 38px;
  height: 100%;
  border: 0;
}
.header .search-bar form button i {
  color: #878787;
  font-size: 16px;
}
.header .header-left {
  float: right;
  justify-content: center;
}
.header .navbar-collapse {
  justify-content: right;
  align-items: center;
}

.header .header-left li > a {
  font-weight: 500;
  font-size: 16px;
  color: #667580;
}
.header .header-left li :hover {
  color: #1da1f2;
}
.header .header-left li div a:hover {
  background-color: #ffffff;
}
.header .header-left li > a > p {
  font-size: 16px;
  color: #667580;
  font-weight: 450;
}

.model-header.open {
  display: flex;
}
.model-header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: none;
}
.model-header .container-model {
  background: white;
  height: 350px;
  width: 500px;
  margin-top: 150px;
}
.model-header .icon-close-header-model {
  display: flex;
  justify-content: flex-end;
}

.model-header .container-model i {
  color: #1da1f2;
  font-size: 26px;
}
.model-header .main-doi-mat-khau-header {
  display: flex;
  margin-left: 30px;
}
.model-header .main-doi-mat-khau-header .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.model-header .main-doi-mat-khau-header .form-group span {
  color: red;
}

.model-header .main-doi-mat-khau-header .form-group input {
  width: 450px;
}
.model-header .main-doi-mat-khau-header .form-group button {
  color: #1da1f2;
}
