<div class="navbar navbar-expand-lg header">
  <div class="row container-header">
    <a href="/sinhvien/home">
      <img src="https://sv.iuh.edu.vn/Content/AConfig/images/sv_logo_dashboard.png" alt="logo_header"
        class="logo-header" />
    </a>
    <div class="search-bar">
      <form action="">
        <input type="text" id="searchHeader" name="searchHeader" placeholder="Tìm kiếm..." required="" />
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="header-left">
        <ul class="navbar-nav mr-auto nav-header">
          <li class="nav-item active" style="margin-right: 30px;">
            <a class="nav-link" href="/sinhvien/home">
              <p> <i class="fas fa-home"></i>Trang chủ</p>
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item dropdown row">

            <img
              src="https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/125804649_1537388186446618_1908998491894744380_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=fWPNR0pibKMAX9MsQ95&tn=4shL0tcfUZx9fRYh&_nc_ht=scontent.fdad3-4.fna&oh=00_AT_mPbnffoKAxRdDAuq2ApriWvhYkbugDJfGscLfH3s4xw&oe=61E62BEA"
              alt="ảnh thẻ header" style="height: 28px;width: 28px;border-radius: 28px; margin-bottom: 10px;align-self: center;
                  " />

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{tens}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/sinhvien/thongtincanhan">Thông tin
                cá nhân</a>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item js-doi-mat-khau-sv">Đổi mật khẩu</button>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/sinhvien/dangxuat">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {{!-- Model --}}
    <div class="model-header js-model-header-sv">
      <div class="container-model">
        <div class="icon-close-header-model" style="text-right">
          <i class="js-model-close-sv fa fa-window-close">
          </i>
        </div>
        <div class="main-doi-mat-khau-header">
          <div class="form-login">
            <div class="form-group">
              <label class="control-label">Mật khẩu cũ<span class="required">(*)</span></label>
              <input class="input form-control" id="Old_Password" name="Old_Password" placeholder="Nhập mật khẩu cũ"
                type="password">
              <label for="" id="MatKhauCu">

              </label>
            </div>
            <div class="form-group">
              <label class="control-label">Mật khẩu mới<span class="required">(*)</span></label>
              <input class="input form-control" data-val="true" data-val-required="Nhập mật khẩu mới" id="New_Password"
                name="New_Password" placeholder="Nhập mật khẩu mới" type="password">
            </div>
            <div class="form-group">
              <label class="control-label">Xác nhận mật khẩu<span class="required">(*)</span></label>
              <input class="input form-control" data-val="true" data-val-required="Nhập xác nhận mật khẩu mới"
                id="Confirm_Password" name="Confirm_Password" placeholder="Xác nhận lại mật khẩu" type="password">
            </div>
            <div class="actions">
              <button class="btn btn-action pull-right btn-primary" id="btnLuuMatKhau" type="submit">Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const btnDoiMatKhau = document.querySelectorAll(".js-doi-mat-khau-sv");
  const modelHeader = document.querySelector(".js-model-header-sv");
  const btnModelClose = document.querySelector(".js-model-close-sv");

  function showDoiMatKhau() {
    modelHeader.classList.add("open");

  }
  function hideDoiMatKhau() {
    modelHeader.classList.remove("open");
  }
  for (const btnXemLich of btnDoiMatKhau) {
    btnXemLich.addEventListener("click", showDoiMatKhau);
  }
  btnModelClose.addEventListener('click', hideDoiMatKhau);

</script>
<script>

  $(document).ready(function () {
    OnChangePassword();
  });
  function OnChangePassword() {
    $('#btnLuuMatKhau').click(function () {
      var old_password = $('input[name="Old_Password"]').val();
      var new_password = $('input[name="New_Password"]').val();
      var confirm_password = $('input[name="Confirm_Password"]').val();
      if (old_password == "" || new_password == "" || confirm_password == "") {
        alert("Vui lòng nhập đủ thông tin !");
      } else if (new_password.localeCompare(confirm_password)) {
        alert("Mật khẩu không khớp !");
      } else if (new_password.length < 6) {
        alert("Mật khẩu mới tối thiểu 6 kí tự !");
      }
      else {
        $.ajax({
          url: '/sinhvien/capnhatmatkhau',
          type: 'post',
          data: { old_password: old_password, confirm_password: confirm_password },
          dataType: 'json',
          success: function (result) {
            alert("Cập nhật thành công !");
            hideDoiMatKhau();
          },
          error: function (result) {
            alert("Mật khẩu cũ không hợp lệ !");
          }
        });
      }

    });
  }


</script>