<div class="nav-left-sidebar" style="width: 100%; margin-left: -15px;">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            <h4>MENU</h4>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link active" href="/quanly-sinhvien" data-toggle="collapse" aria-expanded="false"
              data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-address-card"></i><b>Quản Lý Sinh
                Viên</b></a>
            <div id="submenu-1" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a id="menuSinhVien" class="nav-link active" href="/quanly-sinhvien"><i
                      class="fas fa-genderless"></i>Sinh Viên</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-sinhvien"><i class="fas fa-genderless"></i>Danh Sách Sinh
                    Viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2"
              aria-controls="submenu-2" href="/quanly-lop"><i class="fas fa-newspaper"></i><b>Quản Lý Lớp</b></a>
            <div id="submenu-2" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-lop"><i class="fas fa-genderless"></i>Lớp Học</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-lop"><i class="fas fa-genderless"></i>Danh Sách Lớp Học</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3"
              aria-controls="submenu-3"><i class="fas fa-id-card-alt"></i><b>Quản Lý Giảng Viên</b></a>
            <div id="submenu-3" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-giangvien"><i class="fas fa-genderless"></i>Giảng Viên</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-giangvien"><i class="fas fa-genderless"></i>Danh Sách Giảng
                    Viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4"
              aria-controls="submenu-4"><i class="fas fa-money-check"></i><b>Quản Lý Khoa/Viện</b></a>
            <div id="submenu-4" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-khoa"><i class="fas fa-genderless"></i>Khoa/Viện</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-khoa"><i class="fas fa-genderless"></i>Danh Sách Khoa
                    Viện</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5"
              aria-controls="submenu-5"><i class="fas fa-envelope-open-text"></i><b>Quản Lý Chuyên Ngành</b></a>
            <div id="submenu-5" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-chuyennganh"><i class="fas fa-genderless"></i>Chuyên
                    Ngành</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-chuyennganh"><i class="fas fa-genderless"></i>Danh Sách
                    Chuyên Ngành</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7"
              aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i><b>Quản Lý Học Kỳ</b></a>
            <div id="submenu-7" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-hocky"><i class="fas fa-genderless"></i>Học Kỳ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-hocky"><i class="fas fa-genderless"></i>Danh Sách Học Kỳ</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6"
              aria-controls="submenu-6"><i class="fa fa-list-alt"></i>
              <b>Quản Lý Môn Học</b>
            </a>
            <div id="submenu-6" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-monhoc"><i class="fas fa-genderless"></i>Môn Học</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-monhoc"><i class="fas fa-genderless"></i>Danh Sách Môn
                    Học</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-66"
              aria-controls="submenu-66"><i class="fas fa-calendar-alt"></i>
              <b>Quản Lý Học Phần</b>
            </a>
            <div id="submenu-66" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-hocphan"><i class="fas fa-genderless"></i>Học Phần</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-hocphan"><i class="fas fa-genderless"></i>Danh Sách Học
                    Phần</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8"
              aria-controls="submenu-8"><i class="fas fa-table"></i><b>Quản Lý Lớp Học Phần</b></a>
            <div id="submenu-8" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-lophp"><i class="fas fa-genderless"></i>Lớp Học Phần</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/quanly-lophp"><i class="fas fa-genderless"></i>Danh Sách Lớp Học
                    Phần</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/quanly-dkhp" {{! data-toggle="collapse" aria-expanded="false"
              data-target="#submenu-9" aria-controls="submenu-9" }}><i class="fas fa-list-alt"></i><b>Quản Lý Ðăng Ký
                Học Phần</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>