{{>headerQuanLy}}
<div class="navbar quan-ly-mon-hoc">
    <div class="nav quan-ly-mon-hoc-1">
        <div class="col-sm-12 col-lg-12" style="background-color: white;">
            <div class="container mt-3">
                <h3>Quản lý lớp học phần</h3>
                <div class="dropdown-divider"></div>
                <div class="row" id="lop_dssv">
                    <div class="col-sm-4 col-lg-4">

                        <h6>Môn: Kỹ thuật lập trình</h6>
                        <h6>Giáo Viên: Nguyễn Văn Tiến</h6>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <h6>Mã Lớp Học Phần: 420555422</h6>
                        <h6>Học Kỳ: HK1(2021-2022)</h6>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <h6>Lớp Học Phần: ĐHKTPM14CTT</h6>
                        <h6>Năm học: 2021-2022</h6>
                    </div>
                </div>
                <form action="">
                    <div class="card mb-4">
                        <div class="card-body">

                            <table class="table table-bordered" id="table_id">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã số sinh viên</th>
                                        <th>Họ Tên</th>
                                        <th>Lớp</th>
                                        <th>Thường xuyên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                        <td>1</td>
                                        <td>18067571</td>
                                        <td>Nguyễn Đức Mạnh</td>
                                        <td>DHKTPM14CTT</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>