{{>headerQuanLy}}
<div class="navbar quan-ly-mon-hoc">
    <div class="nav quan-ly-mon-hoc-1">
        {{!-- ==================Menu --}}
        <div class="col-sm-3 ">
            {{>menubar}}
        </div>
        <div id="quan-ly-home" class="col-sm-9 col-lg-9"
            style="width: 100%;display: flex;align-items: center;justify-content: center;">
            <div class="row" style="width: 100%;display: flex;align-items: center;justify-content: center ;">
                <div class="row"
                    style="width: 100%;display: flex;align-items: center;justify-content: center;background-color: white; padding-top: 10px; padding-bottom: 20px">
                    <div>
                        <a href="/quanly-sinhvien">
                            <div class=" item-content-homeql" style="background-color: rgba(14, 102, 232, 0.9);">
                                <div class="item-content-homeql-child"
                                    style="background-color: rgba(13, 110, 253, 0.9);">
                                    <label id="text-item-chucnang">Quản Lý Sinh Viên</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/quanly-hocphan">
                            <div class=" item-content-homeql" style="background-color: #CC3342;">
                                <div class="item-content-homeql-child" style="background-color: #DC3545;">
                                    <label id="text-item-chucnang">Quản Lý Học Phần</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/quanly-lop">
                            <div class=" item-content-homeql" style="background-color: rgba(244, 190, 27, 1);">
                                <div class="item-content-homeql-child" style="background-color: #FFC107;">
                                    <label id="text-item-chucnang">Quản Lý Lớp Học</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/quanly-lophp">
                            <div class=" item-content-homeql" style="background-color: #53367E;">
                                <div class="item-content-homeql-child" style="background-color: #5B3C89;">
                                    <label id="text-item-chucnang">Quản Lý Lớp Học Phần</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/quanly-monhoc">
                            <div class=" item-content-homeql" style="background-color: #167C4D;">
                                <div class="item-content-homeql-child" style="background-color: #198754;">
                                    <label id="text-item-chucnang">Quản Lý Môn Học</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/quanly-lophp/dangkyhp">
                            <div class=" item-content-homeql" style="background-color: #C85A44;">
                                <div class="item-content-homeql-child" style="background-color: #DA624A;">
                                    <label id="text-item-chucnang">Quản Lý Đăng Ký Học Phần</label>
                                </div>
                                <div style="display: flex; justify-content: space-between;align-items: center;">
                                    <label id="text-item-chitiet">Chi tiết</label>
                                    <i class="fa fa-angle-right" aria-hidden="true"
                                        style="color:white; margin-right: 20px;"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div>

                    <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/hotrosinhvienIUH/home-quanly.jpg"
                        alt="ảnh trường IUH" style="height: 100%;width: 100%;margin-bottom: 10px;align-self: center;
                    " />

                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>