<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"
    ></script>

    {{! ===============================Table==================== }}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
    ></script>
    {{! ===============================End Table==================== }}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {{! <link rel="stylesheet" href="/vendor/open-iconic-master/font/css/open-iconic-bootstrap.min.css"> }}
    {{!
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> }}

    {{! =============================Menu================================ }}
    <link rel="stylesheet" href="/libs/menuStyle.css" />

    <link rel="stylesheet" href="/css/sv_home.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sv_thongtincanhan.css" />
    <link rel="stylesheet" href="/css/sv_xemlich.css" />
    <link rel="stylesheet" href="/css/sv_ketquahoctap.css" />
    <link rel="stylesheet" href="/css/sv_dangkyhocphan.css" />
    <link rel="stylesheet" href="/css/sv_login.css" />
    <link rel="stylesheet" href="/css/ql_login.css" />

    <link rel="stylesheet" href="/css/ql.css" />

    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css"
    />
    <script
      src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"
    ></script>
    <script src="/js/monmet.min.js"></script>
    {{! =========excel=== }}
    {{! <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script> }}
    {{! <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    ></script> }}
    {{! ============ }}

    <title>Hỗ Trợ Sinh Viên IUH</title>
    <script>
      $(document).ready(function () { $('#table_id').DataTable(); });
    </script>
  </head>

  <body>

    {{{body}}}

    {{!
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>

</html>